body {
background-color: #00175a
    
/*
background-image: url("aexp.jpg");
background-repeat: repeat, no-repeat;
background-size: 100% 100%;
background-attachment: fixed;
overflow-y: scroll;
*/
}

img {
  width: 100%;
  height: auto;
}