<!DOCTYPE html>

<html>
<head>
    <title>face-hack</title>
    <link rel ="stylesheet" href ="../static/camera-stylesheet.css">
</head>
 
    
<body>
    
<div id="container">
	<video autoplay="true" id="videoElement"></video>
</div>

<img src="../static/blackframe.png" alt="Place face in area">

<script>
var video = document.querySelector("#videoElement");

if (navigator.mediaDevices.getUserMedia) {
  navigator.mediaDevices.getUserMedia({ video: true })
    .then(function (stream) {
      video.srcObject = stream;
    })
    .catch(function (err0r) {
      console.log("Something went wrong!");
    });
}
</script>
    
</body>
</html>