<!DOCTYPE html>

<html>
<head>
    <title>face-hack</title>
    <link rel ="stylesheet" href ="../static/camera-stylesheet.css">
</head>
 
    
<body>



<div id="container" style="z-index: 0; position: relative;">
	<video autoplay="true" id="videoElement"></video>
    <div class="rectPic">
        <img src="../static/greenrect.png" style="margin-top: -300px; margin-left: 150px; margin-bottom: 100px; z-index: 100; position: absolute;">
    </div>
</div>

<div>
    <form method="post">
    <button style="margin-left: 50%; margin-right: 50%; position: absolute;">Test Facial Analysis</button>
</form>
</div>


<script>
var video = document.querySelector("#videoElement");

if (navigator.mediaDevices.getUserMedia) {
  navigator.mediaDevices.getUserMedia({ video: true })
    .then(function (stream) {
      video.srcObject = stream;
    })
    .catch(function (err0r) {
      console.log("Something went wrong!");
    });
}
</script>


</body>
</html>
