<!DOCTYPE html>

<html>
<head>
    <title>face-hack</title>
    <link rel ="stylesheet" href ="../static/index-stylesheet.css">
</head>

<body>
    
<div>
    <img src="{{ url_for('static', filename='image001.png')}}">
</div>    
    
<h1>Would you like to opt into BlueID?</h1>
    
<div class="promptButton">
    <button class="yesButton" id="yesButton" onclick="window.location.href = 'camera.html';">Yes</button>
    <button class="noButton" id="noButton" onclick="window.open('', '_self', ''); window.close();">No</button>

<div id="promptButton">
    <button onclick="window.location.href = '{{ url_for('cam') }}';">Yes</button>
    <button onclick="window.close();">No</button>
    
</div>

<script>

</script>

</body>
</html>